GCP_PROJECT=
LOOKER_INSTANCE_URL=
LOOKML_MODEL_NAME=
LOOKER_CLIENT_ID=
LOOKER_CLIENT_SECRET=
LOOKER_JDBC_DRIVER_PATH=/app/drivers/avatica-1.26.0-looker.jar
JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64
OPEN_AI_MODEL=
OPENAI_API_KEY=
